<% provide(:title, tf('common.menu.home')) %>

<div class="row">
  <div class="col-sm-12">
    <h1>
      Aitscore
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-8">
    <p class="text-justify big">
      <%= tf('static.home.first_line') %>
    </p>
    <p class="text-justify big">
      <%= tf('static.home.second_line') %>
    </p>

    <div>
      <%= image_tag('home_page/test_example.png',
                    class: 'img-responsive margin-auto')
      %>
    </div>

    <p class="text-justify big">
      <%= tf('static.home.third_line') %>
    </p>
    <div>
      <%= image_tag('home_page/diagram.png',
                    class: 'img-responsive margin-auto')
      %>
    </div>

  </div>
  <div class="col-sm-4">
    <p class="text-justify big">
      <%= tf('static.home.fourth_line') %>
    </p>
    <p class="text-justify big">
      <%= tf('static.home.fives_line') %>
    </p>
    <p class="text-justify big">
      <%= tf('static.home.six_line') %>
      <a href="mailto:Raf.Hensbergen@mpi-oosterlo.be">Raf.Hensbergen@mpi-oosterlo.be</a>​
    </p>

    <% unless user_signed_in? %>
      <p class="text-justify big">
        <%= tf('static.home.seven_line') %>
      </p>
      <div class="row col-sm-offset-2 form-group">
        <div class="col-sm-offset-2 col-sm-2">
          <%= link_to tf('common.devise.log_in'),
                      new_user_session_path,
                      class: 'btn btn-primary'
          %>
        </div>
      </div>
    <% end %>
  </div>
</div>
