<% provide(:title, "Log in") %>
<h1>Log in</h1>

<%= form_for(:session, url: login_path) do |f| %>
	<div class="row col-sm-offset-2 form-group">
		<%= f.label :codename, "Codename or Email", class: "col-sm-2 control-label" %>
		<div class="col-sm-4">
			<%= f.text_field :codename, class: 'form-control' %>
		</div>
	</div>
	<div class="row col-sm-offset-2 form-group">
		<%= f.label :password, class: "col-sm-2 control-label" %>
		<div class="col-sm-4">
			<%= f.password_field :password, class: 'form-control' %>
		</div>
	</div>
	<div class="row col-sm-offset-2 form-group">
    <div class="col-sm-2 control-label">
      <%= f.label :is_student, 'I am student' %>
    </div>
    <div class="col-sm-1">
			<%= f.check_box :is_student, :checked => true, class: 'form-control'  %>
		</div>
	</div>
	<div class="row col-sm-offset-2 form-group">
		<div class="col-sm-offset-2 col-sm-2">	
			<%= f.submit "Log in", class: "btn btn-primary" %>
		</div>
	</div>
<% end %>
<div class="row col-sm-offset-2 col-sm-10">
  Forgot your password? <%= link_to 'Restore here!', '#' %>
</div>
<div class="row col-sm-offset-2 col-sm-10">
	Want to join? <%= link_to 'Sign up, now!', new_administrator_path %>
</div>

		
