<%
  show_organisation = true if show_organisation.nil?
%>
<!--Name -->
<div class="row col-sm-offset-2 form-group">
  <%= f.label :name, tf('entities.employees.fields.name'), class: 'col-sm-2 control-label' %>
  <div class="col-sm-4">
    <%= f.text_field :name,
                     class: 'form-control',
                     placeholder: tf('entities.employees.fields.name')
    %>
  </div>
</div>

<!--LastName -->
<div class="row col-sm-offset-2 form-group">
  <%= f.label :last_name,
              tf('entities.employees.fields.last_name'),
              class: 'col-sm-2 control-label'
  %>
  <div class="col-sm-4">
    <%= f.text_field :last_name,
                     class: 'form-control',
                     placeholder: tf('entities.employees.fields.last_name')
    %>
  </div>
</div>

<!--Phone-->
<div class="row col-sm-offset-2 form-group">
  <%= f.label :phone,
              tf('entities.employees.fields.phone'),
              class: 'col-sm-2 control-label'
  %>
  <div class="col-sm-4">
    <%= f.text_field :phone,
                     class: 'form-control',
                     placeholder: tf('entities.employees.phone_prompt')
    %>
  </div>
</div>
<% if show_organisation %>
  <!--Organisation -->
  <div class="row col-sm-offset-2 form-group">
    <%= f.label :organisation,
                tf('entities.employees.fields.organisation'),
                class: 'col-sm-2 control-label'
    %>
    <div class="col-sm-4">
      <%= f.text_field :organisation,
                       class: 'form-control',
                       placeholder: tf('entities.employees.fields.organisation')
      %>
    </div>
  </div>

  <!--Organisation address -->
  <div class="row col-sm-offset-2 form-group">
    <%= f.label :organisation_address,
                tf('entities.employees.fields.organisation_address'),
                class: 'col-sm-2 control-label'
    %>
    <div class="col-sm-4">
      <%= f.text_field :organisation_address,
                       class: 'form-control',
                       placeholder: tf('entities.employees.fields.organisation_address')
      %>
    </div>
  </div>
<% end %>
