<% provide(:title,"Edit result") %>
<%= render 'shared/error_message' %>
<h1 class="row col-sm-offset-4">Update result of test</h1>
<% unless @result.is_ended %>
	<h2 class="row col-sm-offset-4">Test is not finished</h2>
<% end %>
<%= form_for @result,class: "form-horizontal", url: student_result_of_test_path(params[:student_id],params[:result_id]) do |result_form| %>
	<%= result_form.fields_for :question_results do |question_form| %>
		<div class="row col-sm-offset-2">
			<h4 class="col-sm-4">Question #<%=question_form.object.number%></h4>
		</div>
		<div class="row col-sm-offset-2">
			<h4 class="col-sm-4">Time: <%=question_form.object.end - question_form.object.start %></h4>
		</div>
		<div class="row col-sm-offset-2 form-group">
			<%= question_form.label :was_checked,class: "col-sm-2 control-label" %>
			<div class="col-sm-4">
				<%= question_form.select(:was_checked, options_for_select(
				  [
				    ['Thumbs down', 1],
				    ['Question mark', 2],
				    ['Thumbs up', 3]
				  ],question_form.object.was_checked),{},{class: 'form-control'}) 
				 %>
			 </div>
		</div>
	<% end %>
	
	<div class="row col-sm-offset-2 form-group">
		<div class="col-sm-offset-2 col-sm-2">
			<%= result_form.submit "Confirm", class: "btn btn-primary" %>
		</div>
	</div>
<% end %>