<% provide(:title,'Results of test') %>
<h1>All results of <%= link_to @code_name, student_path(params[:student_id]) %></h1>
<div class="col-sm-12">
  <table class="table table-hover">
    <thead>
    <tr>
      <td>Test name</td>
      <td>Start date</td>
      <td>Ended</td>
      <td>End date</td>
      <td>Result</td>
      <td>Edit</td>
      <td>Delete</td>
    </tr>
    </thead>
    <% @results.each do |result| %>
        <tr>
          <td><h4><%= link_to "#{result[:name_of_test].titleize}",
                              test_path(result[:test_id]) %></h4></td>
          <td><h4><%= result[:date_of_start] %></h4></td>
          <td><h4><%= result[:is_ended].titleize %></h4></td>
          <td><h4><%= result[:date_of_end] %></h4></td>
          <td><%= link_to('Result', student_result_of_test_path(params[:student_id], result[:id]),
                          class: 'btn btn-default') %></td>
          <td><%= link_to('Edit', edit_student_result_of_test_path(params[:student_id], result[:id]),
                          class: 'btn btn-warning') %></td>
          <td><%= link_to('Delete', student_result_of_test_path(params[:student_id], result[:id]), method: :delete,
                          data: { confirm: 'Are you sure?' },
                          class: 'btn btn-danger') %></td>
        </tr>
    <% end %>
  </table>
</div>