<% provide(:title,"Result") %>
<div class= "row">
	<h2>Results of <%= link_to @student, student_path(params[:student_id]) %></h2>
</div>
<div class= "row">
	<% unless @i_am_student %>
		<%= link_to("Edit", edit_student_result_of_test_path(params[:student_id],params[:result_id]), class: "btn btn-warning col-sm-1") %>
	<% else %>
		<h4>If you want to edit the results, ask your tutor.</h4>
	<% end %>
</div>
<div class="row">
	<div class="col-sm-6 row">
		<h1>Questions</h1>
		<table class="table table-hover">
      <thead>
        <tr>
          <td><h4>#</h4></td>
          <td><h4>Start</h4></td>
          <td><h4>End</h4></td>
          <td><h4>Time</h4></td>
          <td><h4>Was rewrited</h4></td>
          <td><h4>Answer</h4></td>
        </tr>
      </thead>
			<% @list_timestamps.each_with_index do |element, i|%>
				<tr class="<%='danger' if element[:question_id] == nil %>"
            title="<%='This question was deleted from test' if element[:number] == nil%>">
					<td class="col-sm-1"><h4><%= i+1 %></h4></td>
					<td class="col-sm-3"><h4><small><%= element[:start].to_s(:short) %></small></h4></td>
					<td class="col-sm-3"><h4><small><%= element[:end].to_s(:short) %></small></h4></td>
					<td class="col-sm-2"><h4><small><%= '%0.2f s'%[element[:end] - element[:start]] %></small></h4></td>
					<td class="col-sm-1"><h4><small>
						<% if element[:was_rewrited] %>
						<div>Yes</div>
						<% else %>
						<div>No</div>
						<% end %>
						</small></h4></td>
					<td class="col-sm-3"><h4><small>
						<% if element[:was_checked] == 3 %>
						<div>Thumbs up</div>
						<% elsif element[:was_checked] == 1 %>
						<div>Thumbs down</div>
						<% else %>
						<div>Question mark</div>
						<% end %>
						</small></h4></td>
				</tr>
			<% end %>
		</table>
	</div>
	<div class="col-sm-offset-2 col-sm-4">
		<h1>Interests points</h1>
		<table class="table table-hover">
      <thead>
        <tr>
          <td><h4>Interest</h4></td>
          <td><h4>Earned points</h4></td>
        </tr>
      </thead>
			<% @list_interests.each do |element|%>
				<tr>
					<td><h4><small><%= element[0].to_s.humanize %></small></h4></td>		
					<td><h4><small><%= element[1] %> of <%= @list_interests_max[element[0]] %></small></h4></td>
				</tr>
			<% end %>
		</table>
	</div>
</div>