<% provide(:title,"Students List") %>
<h1 class="col-sm-12">All Students</h1>
<div>
  <%= search_form_for @q do |f|%>
      <div class="form-group col-sm-4">
        <%= f.label :code_name_cont, 'Search', class: 'sr-only' %>
        <%= f.search_field :code_name_cont, {placeholder: 'Enter codename here...',
                             class: 'form-control'} %>
      </div>
      <%= f.submit 'Search', class: 'btn btn-primary col-sm-1' %>
  <% end %>
</div>
<div class="col-sm-12">
	<table class="table table-hover">
    <thead>
    <tr>
      <td><%= sort_link @q, :code_name, 'Codename' %></td>
      <td><%= sort_link @q, :organisation, 'Organisation' %></td>
      <td><%= sort_link @q, :admin_name, 'Administrator' %></td>
      <td><%= sort_link @q, :tutor_name, 'Tutor' %></td>
      <td>Profile</td>
      <td>Edit</td>
      <td>Hide</td>
      <% if @is_super_adm %>
        <td>Delete</td>
      <% end %>
    </tr>
    </thead>
		<% @students.each do |student| %>
			<tr>
				<td><h4><%= student[:code_name] %></h4></td>
				<td><h4><small>
          <%= student[:organisation] %></small></h4></td>
        <td><h4><small>
          <%= link_to("#{student[:admin_name].titleize} #{student[:admin_last_name].titleize}",
              administrator_path(student.administrator_id)) %></small></h4></td>
				<td><h4><small>
          <%= link_to("#{student[:tutor_name].titleize } #{student[:tutor_last_name].titleize }",
                      tutor_path(student[:tutor_id])) %>
        </small></h4></td>
        <td><%= link_to('Profile', student_path(student[:id]), class: 'btn btn-default') %></td>
        <td><%= link_to('Edit', edit_student_path(student[:id]), class: 'btn btn-warning') %></td>
        <% if student[:is_active] %>
          <td><%= link_to('Hide', student_path(student[:id], paranoic: true), method: :delete, class: 'btn btn-warning') %></td>
        <% else %>
          <td><%= link_to('Recover', student_path(student[:id], paranoic: true), method: :delete, class: 'btn btn-primary') %></td>
        <% end %>
        <% if @is_super_adm %>
          <td><%= link_to('Delete', student_path(student[:id], paranoic: false),
                        method: :delete, data: { confirm: "Deleting will also delete all results.\n Are you sure?" },
                          class: 'btn btn-danger') %></td>
        <% end %>
      </tr>
		<% end %>
	</table>
</div>
<div class="col-sm-12">
  <%= paginate @students %>
</div>
