<% provide(:title,"Students List") %>
<h1>All Students</h1>
<div class="col-sm-12">
	<table class="table table-hover">
    <thead>
    <tr>
      <td>Codename</td>
      <td>Organisation</td>
      <td>Administrator</td>
      <td>Tutor</td>
      <td>Profile</td>
      <td>Edit</td>
    </tr>
    </thead>
		<% @students.each do |student| %>
			<tr>
				<td><h4><%= student[:code_name] %></h4></td>
				<td><h4><small>
          <%= student[:tutor][:administrator][:organisation] %></small></h4></td>
        <td><h4><small>
          <%= link_to("#{student[:tutor][:administrator][:name].titleize} #{student[:tutor][:administrator][:last_name].titleize}",
              administrator_path(student[:tutor][:administrator][:id])) %></small></h4></td>
				<td><h4><small>
          <%= link_to("#{student[:tutor][:name].titleize } #{student[:tutor][:last_name].titleize }",
                      tutor_path(student[:tutor][:id])) %>
        </small></h4></td>
        <td><%= link_to('Profile', student_path(student[:id]), class: 'btn btn-default') %></td>
        <td><%= link_to('Edit', edit_student_path(student[:id]), class: 'btn btn-warning') %></td>
      </tr>
		<% end %>
	</table>
</div>
<div class="col-sm-12">
  <%= paginate @students %>
</div>
