<% provide(:title,'Delete tutor') %>
<h1 class="row col-sm-offset-4">Delete tutor</h1>
<h3 class="row col-sm-offset-2">For deletion you must choose new Tutor for associated students.</h3>
<%= render 'shared/error_message' %>

<%= form_for @tutor, url: delete_tutor_path(params[:id]), method: :delete, html: { class: 'form-horizontal'} do |ff| %>
      <%= ff.fields_for :students do |f| %>
        <!-- Choosing new tutor-->
        <div class="row col-sm-offset-2 form-group">
          <%= f.label :tutor_id, "Choose Tutor for #{f.object.code_name}", class: 'col-sm-4 control-label' %>
          <div class="col-sm-4">
            <%= f.select :tutor_id, options_for_select(@tutors),{}, {class: 'form-control'} %>
          </div>
        </div>
      <% end %>
    <div class="row col-sm-offset-2 form-group">
      <div class="col-sm-offset-2 col-sm-2">
        <%= ff.submit 'Delete tutor', data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
      </div>
    </div>
<% end %>
