<table class="table table-hover">
  <thead>
  <h1><%= tf('entities.questions.index') %></h1>
  <tr>
    <td><h4>#</h4></td>
    <td><h4><%= 'Average time' %></h4></td>
    <td><h4><%= 'Related interests' %></h4></td>
  </tr>
  </thead>
  <% answer_timestamps.each do |element| %>
    <tr>
      <td class="col-sm-1"><h4><%= element.number %></h4></td>
      <td class="col-sm-2"><h4><small><%= element.pretty_avg %></small></h4></td>
      <td class="col-sm-2"><h4><small><%= element.interests.map(&:name).join(', ') %></small></h4></td>
    </tr>
  <% end %>
</table>
