<%# @deprecated' %>
<% provide(:title,'Forgot password') %>
<h1 class="row col-sm-offset-4">Reset password</h1>
<%= render 'shared/error_message' %>

<%= form_tag forgot_password_path, class: 'col-sm-offset-2 form-horizontal' do %>
    <!--Mail(Login)-->
    <div class="row col-sm-offset-2 form-group">
      <%= label_tag :mail, 'Email', class: 'col-sm-2 control-label' %>
      <div class="col-sm-4">
        <%= email_field_tag :mail, nil, class: 'form-control', placeholder: 'Email' %>
      </div>
    </div>
    <!--Submition-->
    <div class="row col-sm-offset-2 form-group">
      <div class="col-sm-offset-2 col-sm-2">
        <%= submit_tag tf('common.forms.confirm'), class: 'btn btn-primary' %>
      </div>
    </div>
<% end %>
