<%
  show_email = true if show_email.nil?
%>
<!--Language-->
<div class="row col-sm-offset-2 form-group">
  <%= f.label :language_id, tf('entities.languages.language'), class: 'col-sm-2 control-label' %>
  <div class="col-sm-4">
    <%= f.select :language_id,
                 options_from_collection_for_select(Language.all, :id, :name, f.object.language_id),
                 {},
                 { class: 'form-control question_selection' }
    %>
  </div>
</div>

<!--Password-->
<div class="row col-sm-offset-2 form-group">
  <%= f.label :password, tf('entities.users.fields.password'), class: 'col-sm-2 control-label' %>
  <div class="col-sm-4">
    <%= f.password_field :password,
                         class: 'form-control',
                         placeholder: f.object.new_record? ? tf('entities.users.fields.password') : tf('entities.users.password_prompt'),
                         autocomplete: 'new-password'
    %>
  </div>
</div>
<div class="row col-sm-offset-2 form-group">
  <%= f.label :password_confirmation,
              tf('entities.users.fields.password_confirmation'),
              class: 'col-sm-2 control-label'
  %>
  <div class="col-sm-4">
    <%= f.password_field :password_confirmation,
                         class: 'form-control',
                         placeholder: tf('entities.users.confirmation_prompt')
    %>
  </div>
</div>

<% if show_email %>
  <!--Mail(Login)-->
  <div class="row col-sm-offset-2 form-group">
    <%= f.label :email,
                tf('entities.users.fields.email'),
                class: 'col-sm-2 control-label'
    %>
    <div class="col-sm-4">
      <%= f.email_field :email,
                        class: 'form-control',
                        placeholder: tf('entities.users.fields.email')
      %>
    </div>
  </div>
<% end %>
