<!--Password-->
<div class="row col-sm-offset-2 form-group">
  <%= f.label :password, class: 'col-sm-2 control-label' %>
  <div class="col-sm-4">
    <%= f.password_field :password,
                         class: 'form-control',
                         placeholder: f.object.new_record? ? 'Password' : 'Leave empty for saving old'
    %>
  </div>
</div>
<div class="row col-sm-offset-2 form-group">
  <%= f.label :password_confirmation,
              'Confirmation',
              class: 'col-sm-2 control-label'
  %>
  <div class="col-sm-4">
    <%= f.password_field :password_confirmation,
                         class: 'form-control',
                         placeholder: 'Confirm your password'
    %>
  </div>
</div>

<!--Mail(Login)-->
<div class="row col-sm-offset-2 form-group">
  <%= f.label :email,
              'Email',
              class: 'col-sm-2 control-label'
  %>
  <div class="col-sm-4">
    <%= f.email_field :email,
                      class: 'form-control',
                      placeholder: 'Email'
    %>
  </div>
</div>
