<h2><%= tf('common.devise.change_your_password') %></h2>

<%= form_for(resource,
             as: resource_name,
             url: password_path(resource_name),
             html: { method: :put }) do |f|
%>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="row col-sm-offset-2 form-group">
    <%= f.label :password, tf('common.devise.new_password'), class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.password_field :password,
                           autofocus: true,
                           autocomplete: 'new-password',
                           class: 'form-control'
      %>
    </div>
  </div>

  <div class="row col-sm-offset-2 form-group">
    <%= f.label :password_confirmation, tf('common.devise.confirm_new_password'), class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.password_field :password_confirmation,
                           autocomplete: 'new-password',
                           class: 'form-control'
      %>
    </div>
  </div>

  <div class="row col-sm-offset-2 form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <%= f.submit tf('common.devise.change_password'), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
