<h2><%= tf('common.devise.forgot_password') %></h2>

<%= form_for(resource,
             as: resource_name,
             url: password_path(resource_name),
             html: { method: :post }) do |f|
%>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="row col-sm-offset-2 form-group">
    <%= f.label :email, tf('entities.users.fields.email'), class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :email,
                       autofocus: true,
                       autocomplete: "email",
                       class: 'form-control'
      %>
    </div>
  </div>

  <div class="row col-sm-offset-2 form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <%= f.submit tf('common.devise.reset_instructions'), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
