<!--<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Test statistics <b class="caret"></b>
</a>
	<ul class="dropdown-menu">
		<li>
			<%= link_to "Last result of test", "#" %>
		</li>
		<li>
			<%= link_to "Complete statistics", "#" %>
		</li>
	</ul>
</li>-->
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Profile <b class="caret"></b>
</a>
	<ul class="dropdown-menu">
		<li>
			<%= link_to("Settings", edit_client_path(session[:type_id])) %>
		</li>
		<li>
			<%= link_to("My Profile", current_user) %>
		</li>
	</ul>
</li>
<li>
  <%= link_to "Log out", logout_path, method: "delete" %>
</li>
