<% provide(:title,"Clients List") %>
<h1 class="col-sm-12">All Clients</h1>
<div>
  <%= search_form_for @q,
                      url: clients_path do |f|
  %>
    <div class="form-group col-sm-4">
      <%= f.label :code_name_cont,
                  'Search',
                  class: 'sr-only'
      %>
      <%= f.search_field :code_name_cont,
                         {
                            placeholder: 'Enter codename here...',
                            class: 'form-control'
                         }
      %>
    </div>
    <%= f.submit 'Search', class: 'btn btn-primary col-sm-1' %>
  <% end %>
</div>
<div class="col-sm-12">
	<table class="table table-hover">
    <thead>
    <tr>
      <td><%= sort_link @q, :'clients.code_name', 'Codename' %></td>
      <td><%= sort_link @q, :organisation, 'Organisation' %></td>
      <td><%= sort_link @q, :admin_name, 'Administrator' %></td>
      <td><%= sort_link @q, :mentor_name, 'Mentor' %></td>
      <td>Profile</td>
      <td>Edit</td>
      <td>Hide</td>
      <% if @is_super_adm %>
        <td>Delete</td>
      <% end %>
    </tr>
    </thead>
		<% @clients.each do |client| %>
			<tr>
				<td><h4><%= client[:code_name] %></h4></td>
				<td><h4><small>
          <%= client[:organisation] %></small></h4></td>
        <td><h4><small>
          <%= link_to("#{client[:admin_name].titleize} #{client[:admin_last_name].titleize}",
              administrator_path(client[:admin_user_id])) %></small></h4></td>
				<td><h4><small>
          <%= link_to("#{client[:mentor_name].titleize } #{client[:mentor_last_name].titleize }",
                      mentor_path(client[:mentor_user_id])) %>
        </small></h4></td>
        <td><%= link_to('Profile', client_path(client[:id]), class: 'btn btn-default') %></td>
        <td><%= link_to('Edit', edit_client_path(client[:id]), class: 'btn btn-warning') %></td>
        <% if client[:is_active] %>
          <td><%= link_to('Hide', client_path(client[:id], paranoic: true), method: :delete, class: 'btn btn-warning') %></td>
        <% else %>
          <td><%= link_to('Recover', client_path(client[:id], paranoic: true), method: :delete, class: 'btn btn-primary') %></td>
        <% end %>
        <% if @is_super_adm %>
          <td><%= link_to('Delete', client_path(client[:id], paranoic: false),
                        method: :delete, data: { confirm: "Deleting will also delete all results.\n Are you sure?" },
                          class: 'btn btn-danger') %></td>
        <% end %>
      </tr>
		<% end %>
	</table>
</div>
<div class="col-sm-12">
  <%= paginate @clients %>
</div>
