<% provide(:title,'New client') %>
<%= javascript_include_tag 'clients' %>
<h1 class="row col-sm-offset-4">Create client</h1>
<%= render 'shared/error_message' %>

<%= form_for @user,class: "form-horizontal" do |client_form| %>
 	<!--Code Name-->
	<div class="row col-sm-offset-2 form-group">
		<%= client_form.label :code_name, "Code name of client",class: "col-sm-2 control-label"%>
		<div class="col-sm-4">
			<%= client_form.text_field :code_name, class: 'form-control', placeholder: "Codename" %>
		</div>
	</div>
	
	<!--Gender-->
	<div class="row col-sm-offset-2 form-group">
		<%= client_form.label :gender,class: "col-sm-2 control-label" %>
		<div class="col-sm-4">
			<%= client_form.select(:gender, options_for_select(
			  [
			    ['Unknown', 1],
			    ['Male', 2],
			    ['Female', 3]
			  ], @user.gender),{},{class: 'form-control'}) 
			 %>
		 </div>
	</div>
	<!--Is current in school?-->
	<div class="row col-sm-offset-2 form-group">
		<div class="col-sm-2">
			<%= client_form.label :is_current_in_school, "Is current in school?" %>
		</div>
		<div class="col-sm-1">
			<%= client_form.check_box(:is_current_in_school) %>
		</div>
	</div>
	<% if session[:user_type] == 'administrator' %>
		<!-- Adm -->
		<% if @is_super_adm %>
			<!-- Choosing adm -->
			<div class="row col-sm-offset-2 form-group">
				<%= label_tag :administrator_id, "Choose local administrator", class: "col-sm-2 control-label" %>
				<div class="col-sm-4">
					<%= select_tag :administrator_id, options_for_select(@admins),
                         {id: 'administrator_selection', class: 'form-control'}  %><br/>
				</div>
			</div>
		<% end %>
		<!-- Choosing mentor-->
		<div class="row col-sm-offset-2 form-group">
			<%= client_form.label :mentor_id, "Choose Mentor", class: "col-sm-2 control-label" %>
			<div class="col-sm-4">
				<%= client_form.select :mentor_id, options_for_select(@mentors), {} ,
                                {id: 'mentor_selection', class: 'form-control'}%>
			</div>
		</div>
	<% end %>
	<!--Password-->

	<div class="row col-sm-offset-2 form-group">
		<%= client_form.label :password, class: "col-sm-2 control-label" %>
		<div class="col-sm-4">
			<%= client_form.password_field :password, class: 'form-control', placeholder: "Password" %>
		</div>
	</div>
	
	<div class="row col-sm-offset-2 form-group">
		<%= client_form.label :password_confirmation, "Confirmation", class: "col-sm-2 control-label" %>
		<div class="col-sm-4">
			<%= client_form.password_field :password_confirmation, class: 'form-control', placeholder: "Confirm your password" %>
		</div>
	</div>
	
	<div class="row col-sm-offset-2 form-group">
		<div class="col-sm-offset-2 col-sm-2">
			<%= client_form.submit "Confirm", class: "btn btn-primary" %>
		</div>
	</div>

<% end %>

