<div class='row'>
	<%= render 'shared/profile' %>

	<div class='col-sm-offset-1 col-sm-7'>
		<h1><%= tf('entities.clients.latest_results') %>(<%= link_to(tf('common.menu.all'), client_result_of_tests_path(params[:id])) %>)</h1>
		<table class='table table-hover'>
      <thead>
      <tr>
        <td><%= tf('entities.result_of_tests.fields.test_name') %></td>
        <td><%= tf('entities.result_of_tests.fields.start_date') %></td>
        <td><%= tf('entities.result_of_tests.fields.ended') %></td>
        <td><%= tf('entities.result_of_tests.result') %></td>
        <% if @is_super_adm || @is_my_client || @is_client_of_my_mentor %>
            <td><%= tf('common.forms.edit') %></td>
        <% end %>
      </tr>
      </thead>
		<% @test_results.each do |res| %>
			<tr>
				<td><h4><%= res[:name_of_test] %></h4></td>
				<td><h4><small><%= date_to_local res[:date_of_start] %></small></h4></td>
				<td><h4><small><%= tf("common.boolean.#{res[:is_ended]}") %></small></h4></td>
        <td>
          <%= link_to tf('entities.result_of_tests.result'),
                      client_result_of_test_path(res[:user_id], res[:id]),
                      class: 'btn btn-default'
          %>
        </td>
        <% if @is_super_adm || @is_my_client || @is_client_of_my_mentor %>
				  <td><%= link_to(tf('common.forms.edit'), edit_client_result_of_test_path(res[:user_id], res[:id]),
                        class: 'btn btn-warning') %></td>
        <% end %>
			</tr>
		<% end %>
	</table>
	</div>
</div>

<% if @is_super_adm || @is_my_client || @is_client_of_my_mentor %>
	<div class='row'>
		<div class='btn-group col-sm-4' role='group' aria-label='...'>
			<%= link_to(tf('common.forms.edit'), edit_client_path(params[:id]), class: 'btn btn-warning col-sm-4') %>
      <div class="col-sm-1"></div>
      <% if @user.is_active %>
        <%= link_to tf('common.forms.hide'),
                    client_path(params[:id], paranoic: true),
                    method: :delete,
                    class: 'btn btn-warning col-sm-4'
        %>
      <% else %>
        <%= link_to tf('common.forms.recover'),
                    client_path(params[:id], paranoic: true),
                    method: :delete,
                    class: 'btn btn-primary col-sm-4'
        %>
      <% end %>
		</div>
	</div>
<% end %>

<div class='row'>
	<div class='btn-group col-sm-4'
       role='group'
       aria-label='...'
  >
    <% if @user.is_active %>
      <%= link_to tf('entities.tests.choose_test'),
                  tests_client_path(params[:id]),
                  class: 'btn btn-primary col-sm-4'
      %>
    <% else %>
      <div class="col-sm-4"></div>
    <% end %>
    <% if @is_super_adm %>
        <div class="col-sm-1"></div>
        <%= link_to(tf('common.forms.delete'),
                    client_path(params[:id], paranoic: false),
                    method: :delete,
                    data: { confirm: tf('entities.clients.delete_confirm') },
                    class: 'btn btn-danger col-sm-4')
        %>
    <% end %>
	</div>
</div>
