<%= render 'shared/error_message' %>

<%= form_for @user, url: @user.new_record? ? mentors_path : mentor_path(@user), class: 'form-horizontal' do |f| %>

  <%= f.fields_for :employee,
                   class: 'form-horizontal' do |ff|
  %>
    <%= render partial: 'employees/form',
               locals: {
                f: ff,
                show_organisation: false
               }
    %>

    <% if @is_super_admin %>
      <!-- Local administrator -->
      <div class="row col-sm-offset-2 form-group">
        <%= ff.label :employee_id,
                     'Choose local administrator',
                     class: 'col-sm-2 control-label'
        %>
        <div class="col-sm-4">
          <%= ff.select :employee_id,
                        @admins,
                        {},
                        class: 'form-control'
          %>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= render partial: 'users/form',
             locals: {
              f: f
             }
  %>

  <div class="row col-sm-offset-2 form-group">
    <div class="col-sm-offset-2 col-sm-2">
      <%= f.submit 'Confirm', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
