<% provide(:title, tf('entities.mentors.all_mentors')) %>
<h1 class="col-sm-12"><%= tf('entities.mentors.all_mentors') %></h1>
<div>
  <%= search_form_for @q, url: mentors_path do |f| %>
      <div class="form-group col-sm-4">
        <%= f.label :full_name_cont,
                    tf('common.forms.search'),
                    class: 'sr-only'
        %>
        <%= f.search_field :full_name_cont,
                           {
                               placeholder: tf('entities.mentors.search_prompt'),
                               class: 'form-control'
                           }
        %>
      </div>
      <%= f.submit tf('common.forms.search'), class: 'btn btn-primary col-sm-1' %>
  <% end %>
</div>
<div class="col-sm-12">
	<table class="table table-hover">
    <thead>
    <tr>
      <td><%= sort_link @q, 'employees.last_name', tf('entities.employees.fields.last_name') %></td>
      <td><%= sort_link @q, 'employees.name', tf('entities.employees.fields.name') %></td>
      <td><%= sort_link @q, 'employees.organisation', tf('entities.employees.fields.organisation') %></td>
      <%# TODO administrator name sort %>
      <td><%= tf('entities.local_administrators.administrator') %></td>
      <td><%= tf('common.menu.profile') %></td>
      <td><%= tf('common.forms.edit') %></td>
      <td><%= tf('common.forms.delete') %></td>
    </tr>
    </thead>
		<% @mentors.each do |mentor| %>
			<tr>
        <% employee = mentor.employee %>
        <% employee_of_mentor = employee.employee %>
				<td><h4><%= employee[:last_name].titleize %></h4></td>
        <td><h4><%= employee[:name].titleize %></h4></td>

        <% if employee_of_mentor.present? %>
          <td><h4><small><%= employee_of_mentor[:organisation] %></small></h4></td>
          <td>
            <h4>
              <small>
                  <%= link_to "#{employee_of_mentor[:last_name].titleize} #{employee_of_mentor[:name].titleize}",
                              administrator_path(employee_of_mentor.user.id)
                  %>
              </small>
            </h4>
          </td>
        <% else %>
        <td></td>
        <td></td>
        <% end %>
        <td><%= link_to(tf('common.menu.profile'), mentor_path(mentor[:id]), class: 'btn btn-default') %></td>
        <td><%= link_to(tf('common.forms.edit'), edit_mentor_path(mentor[:id]), class: 'btn btn-warning') %></td>
        <td><%= link_to(tf('common.forms.delete'), delete_mentor_path(mentor[:id]), class: 'btn btn-danger') %></td>
			</tr>
		<% end %>
	</table>
</div>
<div class="col-sm-12">
  <%= paginate @mentors %>
</div>
