<div class="panel panel-default">
  <% row_id = "#{client.class}_#{client.id}" %>

  <div class="panel-heading"
       role="tab"
       id="<%= row_id %>"
  >
    <h4 class="panel-title">
      <a class="collapsed"
         role="button"
         data-toggle="collapse"
         data-parent="#<%= data_parent %>"
         href="#collapse_<%= row_id %>"
         aria-expanded="false"
         aria-controls="collapse_<%= row_id %>"
      >
        <%= client.code_name %>

        <div style="float: right; margin-top: -20px">
          <%= link_to tf('common.menu.profile'),
                      client_path(client.user.id),
                      target: '_blank',
                      class: "btn-xs btn btn-default"
          %>

          <%= render partial: 'result_of_tests/summary_results/buttons_template',
                     locals: {
                       # show_details_link: summary_result_test_path(@test.id, user_id: client.user.id),
                       show_details_link: summary_result_table_path(user_id: client.user.id),
                       download_as_xlsx_link: summary_result_table_path(user_id: client.user.id, format: :xlsx),
                       show_details_classes: 'btn-xs'
                     }
          %>
        </div>
      </a>
    </h4>
  </div>

  <div id="collapse_<%= row_id %>"
       class="panel-collapse collapse"
       role="tabpanel"
       aria-labelledby="<%= row_id %>"
  >
    <div class="panel-body">
      <ul class="list-group">
        <% results.each do |result| %>
          <li class="list-group-item">
            <div style="display: inline">
              <%= tf('entities.result_of_tests.result') %> <div style="display: inline-block"><%= date_to_local(result.created_at) %></div>
            </div>
            <div style="float: right">
              <%= render partial: 'result_of_tests/summary_results/buttons_template',
                         locals: {
                           show_details_link: client_result_of_test_path(client.id, result.id),
                           download_as_xlsx_link: client_result_of_test_path(client.id, result.id, format: :xlsx),
                           show_details_classes: 'btn-xs'
                         }
              %>
              <%= link_to tf('common.forms.delete'),
                          client_result_of_test_path(client.id, result.id),
                          method: :delete,
                          data: { confirm: tf('common.forms.delete_confirm') },
                          class: 'btn btn-xs btn-danger'
              %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
