<tr class="picture">
  <td class="col-sm-4">
    <% if picture.image.attachment.present? %>
      <%= image_tag url_for(picture.small_variant) %>
    <% end %>
  </td>
  <td class="col-sm-3">
    <h4>
      <%= picture.description %>
      <% if picture.audio.attachment.present? %>
                <span class="glyphicon glyphicon-volume-up"
                      aria-hidden="true"
                      title="<%= tf('entities.pictures.has_audio_description') %>"
                ></span>
      <% end %>
    </h4>
  </td>
  <td class="col-sm-3">
    <h4>
      <%= picture.related_interests.keys.join(', ') %>
    </h4>
  </td>
  <td class="col-sm-1">
    <%= link_to(tf('common.forms.edit'), edit_picture_path(picture.id), class: 'btn btn-warning') %>
  </td>
  <td class="col-sm-1">
    <%= link_to tf('common.forms.delete'),
                picture_path(picture.id),
                method: :delete,
                data: {
                    confirm: tf('entities.pictures.delete_confirm')
                },
                class: 'btn btn-danger'
    %>
  </td>
</tr>
