<% provide(:title,'New picture') %>
<%= javascript_include_tag 'pictures' %>
<%= render 'shared/error_message' %>

<h1 class="row col-sm-offset-4">Add picture</h1>
<%= form_for @picture, class: 'form-horizontal' do |picture_form| %>
  <!--Description-->
  <div class="row col-sm-offset-2 form-group">
    <%= picture_form.label :description, 'Description', class: 'col-sm-2 control-label'%>
    <div class="col-sm-4">
      <%= picture_form.text_field :description, class: 'form-control', placeholder: 'Description' %>
    </div>
  </div>

  <!--Picture-->
  <div class="row col-sm-offset-2 form-group">
    <%= picture_form.label :image, 'Image', class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= picture_form.file_field :image, class: 'form-control' %>
    </div>
  </div>

  <!--Interests-->
  <div id="interests_form">
    <%= picture_form.fields_for :picture_interests, class: 'form-horizontal' do |interest_form|%>
      <%= render 'picture_interest_fields', interest_form: interest_form %>
    <% end %>
  </div>
  <div class="row col-sm-offset-2 form-group">
    <div class="row col-sm-offset-6 col-sm-2">
      <%= link_to_add_association 'Add interest', picture_form, :picture_interests,
                                  form_name: 'interest_form',
                                  'data-association-insertion-node' => '#interests_form',
                                  'data-association-insertion-method' => 'append',
                                  class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="row col-sm-offset-2 form-group">
    <div class="col-sm-offset-2 col-sm-2">
      <%= picture_form.submit 'Confirm', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>