<%= form_for @info do |info_form| %>
	<!--Password -->
	<tr>
		<td>
		<%= info_form.label :old_password, "Your old password" %>
		<%= info_form.password_field :old_password %>
		</td>
	</tr>
	<tr>
		<td>
		<%= info_form.label :password, "Your new password" %>
		<%= info_form.password_field :password %>
		</td>
	</tr>
	<tr>
		<td>
		<%= info_form.label :password_confirmation, "Confirmation new password" %>
		<%= info_form.password_field :password_confirmation %>
		</td>
	</tr>
	<tr>
		<td>
		<%= info_form.submit "Update" %>
		</td>
	</tr>
<% end %>
