<% provide(:title, tf('entities.local_administrators.all_administrators')) %>
<h1 class="col-sm-12"><%= tf('entities.local_administrators.all_administrators') %></h1>
<div>
  <%= search_form_for @q, url: administrators_path do |f| %>
      <div class="form-group col-sm-4">
        <%= f.label :full_name_cont,
                    tf('common.forms.search'),
                    class: 'sr-only'
        %>
        <%= f.search_field :full_name_cont,
                           {
                             placeholder: tf('entities.local_administrators.search_prompt'),
                             class: 'form-control'
                           }
        %>
      </div>
      <%= f.submit tf('common.forms.search'), class: 'btn btn-primary col-sm-1' %>
  <% end %>
</div>
<div class="col-sm-12">
	<table class="table table-hover">
    <thead>
      <tr>
        <td><%= sort_link @q, 'employees.last_name', tf('entities.employees.fields.last_name') %></td>
        <td><%= sort_link @q, 'employees.name', tf('entities.employees.fields.name') %></td>
        <td><%= sort_link @q, 'employees.organisation', tf('entities.employees.fields.organisation') %></td>
        <td><%= sort_link @q, 'employees.organisation_address', tf('entities.employees.fields.organisation_address') %></td>
        <td><%= tf('common.menu.profile') %></td>
        <td><%= tf('common.forms.edit') %></td>
        <td><%= tf('common.forms.delete') %></td>
      </tr>
    </thead>
		<% @admins.each do |admin| %>
			<tr>
        <% employee = admin.employee %>
				<td><h4><%= employee[:last_name].titleize %></h4></td>
        <td><h4><%= employee[:name].titleize %></h4></td>
        <td><h4><small><%= employee[:organisation].titleize %></small></h4></td>
        <td><h4><small><%= employee[:organisation_address].titleize %></small></h4></td>
        <td><%= link_to(tf('common.menu.profile'), administrator_path(admin[:id]), class: 'btn btn-default') %></td>
				<td><%= link_to(tf('common.forms.edit'), edit_administrator_path(admin[:id]), class: 'btn btn-warning') %></td>
        <td><%= link_to(tf('common.forms.delete'), delete_administrator_path(admin[:id]), class: 'btn btn-danger') %></td>
			</tr>
		<% end %>
	</table>
</div>
<div class="col-sm-12">
  <%= paginate @admins %>
</div>
