<% employee = @user.employee %>
<p><%= tf('common.devise.greetings') %> <%= employee.last_name.titleize %> <%= employee.name.titleize %>,</p>

<p><%= tf('common.devise.confirm_instructions') %></p>

<p><%= link_to tf('common.devise.confirm_account'), confirmation_url(@resource, confirmation_token: @token) %></p>

<p><%= tf('common.devise.regards') %></p>
