<p><%= tf('common.devise.greetings') %> <%= @resource.email %>!</p>

<p><%= tf('common.devise.password_reset') %></p>

<p><%= link_to tf('common.devise.change_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= tf('common.devise.ignore_reset_request') %></p>
<p><%= tf('common.devise.password_stays_unchanged') %></p>
