<div class="row col-sm-offset-2 form-group nested-fields">
  <div class="row col-sm-offset-3 form-group" id="image">
    <%= image_tag @dummy.image.url :thumb, class: 'col-sm-2' %>
  </div>

  <div class="row">
    <%= questions_form.label :pictures_id, 'Picture', class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= questions_form.select(:picture_id, options_for_select(@pictures, questions_form.object.picture_id),{},
                                {class: 'form-control question_selection'}) %>
    </div>
    <div class="col-sm-4">
      <%= link_to_remove_association 'Remove question', questions_form, class: 'btn btn-warning' %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-3">
      <%= questions_form.label :is_tutorial, 'Is question tutorial?', class: 'control-label' %>
    </div>
    <div class="col-sm-1">
      <%= questions_form.check_box :is_tutorial,  class: 'form-control' %>
    </div>
  </div>
  <hr>
</div>